/* ▼ WHERE YOUR CODE BEGINS */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #e5e5e5;
}

.loading {
  width: 500px;
  height: 216px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-title {
  color: #151b26;
  font-size: 18px;
  line-height: 0.75;
  margin-bottom: 20px;
}

.progress-bar {
  border-radius: 100px;
  background-color: #e5eaef;
}

.progress-bar-gauge {
  background-color: #13ce66;
}

@keyframes loading {
  10% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes gauge {
  10% {
    width: 25px;
  }

  30% {
    width: 95px;
  }

  100% {
    width: 100%;
  }
}
