/* ▼ WHERE YOUR CODE BEGINS */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #e5e5e5;
}
/* form 요소는 body에 font 적용해도 함께 적용이 안된다. */
button,
input,
textarea {
  font-family: "Lato", sans-serif;
}

button {
  border: none;
  background-color: #ffffff;
}

.line-button {
  color: #151b26;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 18px 32px;

  position: relative;
}

.line-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #0066ff;
  width: 0;
  height: 2px;
  transition: width 250ms ease-in, background-color 250ms ease-in;
}
.line-button:hover::after {
  width: 100%;
  background-color: hotpink;
}
