* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* Reset CSS */
a {
  color: inherit;
  /* inherit 부모의 색상을 적용 */
  text-decoration: none;
}

input,
textarea,
button {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ol,
ul,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}

/* button */
.fill-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.05em;
  background-color: #3040c4;
  color: #ffffff;
  transition: opacity 300ms ease-in-out;
}

.fill-button.inverted {
  background-color: #ffffff;
  color: #3040c4;
}

.fill-button:hover {
  opacity: 0.5;
}
/* landing */
.landing {
  background-color: #fdded8;
  text-align: center;
}

.landing-content {
  /* container 의 마진 padding은 건들지 말자! */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-title {
  color: #2b292d;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 46px;
}

.landing-desc {
  margin-bottom: 24px;
}

.landing .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .button-group .fill-button:first-child {
  margin-right: 8px;
}

/* testimonials */
.testimonials-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.363636363636364;
  letter-spacing: -0.04em;
  margin-bottom: 16px;
}

.testimonials:first-of-type(.testimonials-desc) {
  margin-bottom: 40px;
}

/* >= 768px(desktop) */
@media screen and (min-width: 768px) {
  /* Reset CSS */
  p {
    font-size: 22px;
    line-height: 1.454545454545455;
  }
  /* fill button */
  .fill-button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.555555555555556;
  }
  /* landing */
  .landing-content {
    height: auto;
    padding: 120px 0;
  }
  .landing-title {
    margin-bottom: 32px;
    font-size: 70px;
    line-height: 1.028571428571429;
  }
  .landing-desc {
    margin-bottom: 32px;
  }
  .landing .button-group .fill-button:first-child {
    margin-right: 16px;
  }
  /* testimonials */
  .testimonials-content {
    height: auto;
    flex-direction: row;
  }

  .testimonials-title {
    font-size: 26px;
    line-height: 1.307692307692308;
  }
}

/* Custom Grid System - Fix container width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
